modules = ["web", "nodejs-20", "python-3.9"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Serve Static Files"

[[workflows.workflow]]
name = "Serve Static Files"
author = 42899832
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"

[[ports]]
localPort = 5000
externalPort = 80
